body{
    padding: 0;
    margin: 0;
}
.container{
   padding-top: 100px;
    
    background-repeat: no-repeat;
    background-color: black;
    color: white;
   display: grid;
   grid-template-columns: 1fr 1fr;
}
.badge{
    font-size: 100px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.product-details{
    margin-top:100px ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
}
span{
    color:bisque;
}